<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MR100823">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SumaActivity"
            android:exported="false"
            android:label="Calculadora de Suma" />
        <activity
            android:name=".LoginActivity"
            android:exported="false"
            android:label="Autenticación Simulada" />
        <activity
            android:name=".RadioButtonActivity"
            android:exported="false"
            android:label="Operaciones con RadioButton" />
        <activity
            android:name=".CheckBoxActivity"
            android:exported="false"
            android:label="Operaciones con CheckBox" />
        <activity
            android:name=".SpinnerActivity"
            android:exported="false"
            android:label="Control Spinner" />
    </application>

</manifest>
